<!DOCTYPE html>
<html>
	<head>
		<link rel='stylesheet' href='stylesheets/game.css' />
		<!-- <script src="js/chess.js"></script> -->
		<script src="/socket.io/socket.io.js"></script>
		<script src="js/moveprotocol.js"></script>
	</head>
	<body>
		<div class='major-container'>
			<div class='content'>
			</div>
		</div>
		<!-- <div id="board" style="width: 400px"></div> -->
	</body>
</html>
