<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">        <!-- < script src="js/chess.js"></script> -->
        <link rel="stylesheet" href="stylesheets/game.css" />
        <script src="/socket.io/socket.io.js"></script>
        <!-- <script src="js/moveprotocol.js"></script> -->
        <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
        <script src="scripts/chess.js/chess.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="js/game.js"></script>


        <script src = "js/firebase-app.js"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>

        <script src="https://cdn.firebase.com/js/client/2.0.4/firebase.js"></script>
        <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js'></script>

        <!-- jQuery -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

        <!-- Firebase -->
<!--         <script src="https://www.gstatic.com/firebasejs/3.3.0/firebase.js"></script> -->     
        <script src="https://www.gstatic.com/firebasejs/4.3.0/firebase-database.js"></script>
        <script src="https://www.gstatic.com/firebasejs/4.3.0/firebase-messaging.js"></script>
        <script src="https://www.gstatic.com/firebasejs/4.3.1/firebase.js"></script>


        <!-- Firechat -->
        <link rel="stylesheet" href="https://cdn.firebase.com/libs/firechat/3.0.1/firechat.min.css" />
        <script src="https://cdn.firebase.com/libs/firechat/3.0.1/firechat.min.js"></script>

    </head>
    <body>
        <div class="container-fluid content">
            <div class="row justify-content-around sub-content">
                <div id="board-wrapper" class="left-content col-6" style = "padding-top:10px">
                    <div id="board" style="margin: auto"></div>
                </div>
                <div class="right-content col-4" style="border:2px">
                    <div class="row" style="width:100%">
                        <script src ="js/game.js"></script>
                        <div id="teamname" class="row ">Your team is {{teamName}}, {{currTeam}}'s turn</div>
                        <!-- <script type="text/javascript">set_team("{{teamName}}");</script> -->
                        <div id="placeholder-div" style="display: none">{{teamName}}</div>
                        <div id="timer" class='row"'></div> <!--https://www.w3schools.com/howto/howto_js_countdown.asp-->
                    </div>
                    <div class="tab" style="margin-bottom:15px">
                        <!-- <button class="tablinks" onclick="switchTab('poll')">Poll</button> -->
                        <button class="tablinks" onclick="switchTab('history')">History</button>
                        <button class = "tablinks" onclick = "switchTab('chat')">Chat</button>
                    </div>

                    <div style = "height:60%">
                        <!-- <div id = "poll">
                            Most popular moves:
                            <ul id = "moveList">
                            </ul>
                        </div> -->
                        <div id = "history">
                            Previous moves:
                            <ul id = "historyList">
                            </ul>
                        </div>


                        <div id="chat">
                            
                            <div class="example-chat l-demo-container">
                              <header>Chat</header>

                              <div class='example-chat-toolbar'>
                                <label for="nameInput">Username:</label>
                                <input type='text' id='nameInput' placeholder='enter a username...'>
                              </div>

                              <ul id='example-messages' class="example-chat-messages"></ul>

                              <footer>
                                <input class = "messageForm" type='text' id='messageInput'  placeholder='Type a message...'>
                              </footer>
                            </div>
                        </div>
                    </div>
                    <button type="button" id="leaveGame" class="btn" onclick="location.href = '/';" style = "margin-top:20px" >Leave Game</button>
                </div>
            </div>
        </div>
        <div id="board" style="width: 400px"></div>
    </body> 
    <script src="js/firebasechat.js"></script>
    <script src="chessboardjs-0.3.0/js/chessboard-0.3.0.js"></script>
    <script src="js/chessboard.js"></script>
    <link rel="stylesheet" href="chessboardjs-0.3.0/css/chessboard-0.3.0.css">
</html>
