/*html {
    height: 100%;
}*/

body {
    margin: 0px;
    height: 100vh;
    overflow:hidden;
    /*overflow-y: scroll;*/
}

.major-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
/*    overflow: hidden;*/
}

.content {
    position: relative;
    margin: 20px;
    margin-top: 2%;
    /*width: 90%;*/
    height: 90%;
    overflow: hidden;
}

.sub-content {
    height: 100%;
}

.left-content {
    height: 100%;
    /*overflow-y: scroll;*/
}

.right-content {
    height: 100%;
    margin-right:5%;
    /*background-color: blue;*/
}

#teamname {
	text-align:center;
	margin:10px;
}

.connected {
    background: white !important;
}

/*#lines {
    overflow: auto;
    border: inset;
    background: white;
    width: '100%';
    height: "40%";
}
#lines p {
    margin: 1px;*/
/*}
#input {
  width: 400px;
  background: white;
	margin-left:2%;
	margin-bottom:2%;
}*/

.members-count,
.members-list,
.messages {
  border: 1px solid #e4e4e4;
  padding: 15px;
  margin-bottom: 15px;
}
.messages {
  flex-shrink: 1;
  overflow: auto;
}
.message {
  padding: 5px 0;
}
.message .member {
  display: inline-block;
}
.member {
  padding-right: 10px;
  position: relative;
}
.message-form {
  display: flex;
  flex-shrink: 0;
}
.message-form__input {
  flex-grow: 1;
  border: 1px solid #dfdfdf;
  padding: 10px 15px;
  font-size: 16px;
}
.message-form__button {
  margin: 10px;
}

#poll{
  display:none;
  height:100%;
  font-size:20px;
}

#history{
  display:none;
  overflow-y:scroll;
  font-size:20px;
  height:100%;
}

#teamname{
  margin-left:0px;
  font-size: 20px;
  width:80%;
  position:relative;
}

#timer{
  margin-top:10px;
  margin-left:0px;
  /*height:10px;*/
  font-size: 20px;
  /*float:right;*/
  width:10%;
  position:relative;
}
/*#currname{
  margin-top:10px;
  font-size: 20px;
  width:100%;
  position:relative;
}*/

/*
form{
  max-width: 500px;
  margin: 0px auto;
  border: 1px solid #ccc;
}*/
.msg-wrapper{
  max-height: 250px;
  overflow: auto;
}
.msg-wrapper em{
  font-size: 15px;
  padding-right: 20px;
  font-weight: bold;
}
.msg-wrapper div{
  font-size: 16px
}
