html {
    height: 100%;
}

body {
    margin: 0px;
    height: 100vh;
    overflow: hidden;
}

.major-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.content {
    position: relative;
    margin: 20px;
    margin-top: 2%;
    /*width: 90%;*/
    height: 90%;
    overflow: hidden;
}

.sub-content {
    height: 100%;
}

.left-content {
    height: 100%;
}

.right-content {
    height: 100%;
    background-color: blue;
}

#teamname {
	text-align:center;
	margin:10px;
}


.connected {
    background: white !important;
}

#lines {
    width: 400px;
    height: 300px;
    border: inset;
    overflow: auto;
    background: white;
}
#lines p {
    margin: 1px;
}
#input {
    width: 400px;
    background: white;
	margin-left:2%;
	margin-bottom:2%;
}